//- Author: Kelly Johnson
//- Copyright 2015
//- This work is licenced under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
//- http://creativecommons.org/licenses/by-nc-sa/4.0/
//-
//- Main entrance for client

extends layout

block content
  h1= title
  p Welcome to #{title}
  script(type='text/javascript' src="/js/fblogin.js")
  fb:login-button(scope="public_profile,email" onlogin="fblogin.checkLoginState();")
  p.
    Log into Facebook to start borrowing all the things
