doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //
      Author: Kelly Johnson
      Copyright 2015
      This work is licenced under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
      http://creativecommons.org/licenses/by-nc-sa/4.0/
    block content
